npm-debug.log
node_modules/
coverage/
.idea/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
logs/
run/
test/
typings/
config/config.prod.ts
app/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
config/projects/
app/public/projects/
